@import "../omarchy/current/theme/waybar.css";

* {
  background-color: @background;
  color: @foreground;

  border: none;
  border-radius: 0;
  min-height: 0;
  font-family: 'CaskaydiaMono Nerd Font';
  font-size: 12px;
}

#waybar {
  background: transparent;
  border: none;
  box-shadow: none;
}

#waybar > box > * {
  background: rgba(30, 30, 46, 0.85); /* or your preferred color/opacity */
  border-radius: 12px;
  padding: 0 10px;
  margin: 0 4px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.12);
}

.modules-left {
  margin-left: 8px;
}

.modules-right {
  margin-right: 8px;
}

#workspaces button {
  all: initial;
  padding: 0 6px;
  margin: 0 1.5px;
  min-width: 9px;
}

#workspaces button.empty {
  opacity: 0.5;
}

#cpu {
  min-width: 12px;
  margin: 0 7.5px;
  color: #0db9d7;
}
#battery {
  min-width: 12px;
  margin: 0 7.5px;
  color: #bb9af7;
}
#pulseaudio,
#custom-omarchy,
#custom-screenrecording-indicator,
#custom-update {
  min-width: 12px;
  margin: 0 7.5px;
  color: #b9f27c;
}

#tray {
  margin-right: 16px;
}


#bluetooth {
  margin-right: 17px;
  color: #7aa2f7;
}

#network {
  margin-right: 13px;
  color: #e0af68;
}

#custom-expand-icon {
  margin-right: 20px;
  color: #ad8ee6;
}

tooltip {
  padding: 2px;
  color: #9ece6a;
}

#custom-update {
  font-size: 10px;
}

#clock {
  margin-left: 8.75px;
  color: #00ff99;
}

.hidden {
  opacity: 0;
}

#custom-screenrecording-indicator {
  min-width: 12px;
  margin-left: 8.75px;
  font-size: 10px;
}

#custom-screenrecording-indicator.active {
  color: #a55555;
}
