configuration {
 modi: "window,drun,ssh,combi,run";
 font: "hack 10";
 combi-modi: "window,drun,ssh,run";
 }
/* @theme "~/.config/rofi/themes/rose-pine.rasi" */
// @theme "~/.config/rofi/themes/tokyo-night.rasi"
// @theme "~/.config/rofi/themes/tokyo-night-pretty.rasi"
@theme "~/.config/rofi/themes/walker-dark.rasi"

