services:
  api:
    environment:
      - DEBUG=true
    ports:
      - 8080:8080
  redis:
    ports:
      - 127.0.0.1:6379:6379
networks:
  default:
    ipam:
      config:
        - subnet: 172.18.0.0/16
    name: myapp_default
